	.block-twitter{
		.owl-controls{
			&:after,
			&:before{
				display: none;
			}
		}		
		
	}	
	.block-twitter [data-background]{
		background-size: contain;
		height: 340px;
	}
	@media (min-width: 1920px) {
		
		
		::-webkit-scrollbar {
			display: none;
		}		
		
		.last{
			height: 515px;
			> div	{
				height: 250px;
			}
			.block-social{
				height: 50%;
			}		
		}	
		
		.options{
			.owl-stage-outer{
				height: 259px;	
			}		
		}	
	
		
		.block-video{
			&.owl-carousel{
				opacity: 1!important;
			}
			.owl-item{
				float: none;
			    width: 100%!important;
			    .item{
			    }
				
			}
			.owl-stage{
				width: 200px!important;
				transform: translate3d(0px, 0px, 0px)!important; 
				transition: 0.25s!important; 
			}
			.owl-stage-outer{
			    position: absolute;
			    right: -211px;
			    top: -517px;
			    height: 517px;
				overflow: auto;
			}
		
		}
		
		main{
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}
		.block-multimedia{
		    overflow: hidden;
		    height: 516px;
		    width: 100%;	
		    background: #000;	
		}
		.block-multimedia video.main {
		    /* width: 100%; */
		    object-fit: cover;
		    height: 100%;
		    display: block;
		    margin: auto;
		    background: #000;
		}
			
		
	
		.portada{
		width: 100%;
	    display: inline-block;
	    height: 200px;
	    top: auto;
	    position: static;
	    transform: none;
	    .logo-portada{
			right: 35px;
			width: 155px;		    
	    }
	    .logo-lonely{
		    left:45px;
		    top:45px;
		    width: 120px;
	    }
	    .h1{
		    

			bottom:-40px;
			right: -20px;	 
			transform: scale(.6);
			opacity: .6;   
		    
	    }

	
	}
	
		.block-twitter{
		.owl-controls{
			&:after,
			&:before{
				display: none;
			}
		}		
		
	}

		#owl-tweet{
			/*
			position: absolute;
			top: 50%;
		    transform: translateY(-50%);
		    */		
		}
	
		.container-slide{
		height: 250px;
		background-size: contain!important;
		background-repeat: no-repeat;
		
		.item{
			margin-top: 40px;
		}
		
		.owl-controls{
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}
		}
	}
	
		.no-bg-totem{
			background: none!important;
		}
		section{
			
			width: 50%;
			display: inline-block;
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			&.multimedia{
				height: 48vh;
				width: 55%;
			}
			&.hacer{
				height: 40vh;
				width: 100%;
				[class*="col-"]{
				}
				
				.fluid-container.options{
					width: 81%;
					float: left;
					
				}
				.fluid-container.banners{
					width: 18%;
					float: left;
					margin-right: 1%;
					.block-partners{
						position: relative;
						.item{
							height: 258px;
						}
						img{
							object-fit: cover;
							width: auto;
						}
					}
				}			
			}
			
			
			&.last{
				width: 35%;
				float: none;
				margin-left: 10%;
			}
			
		}
		.block-mainnav{
			display: none;
		}
		.container{
			width: 100%;
		}


	.hacer {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.block-item {
	    margin-bottom: 15px;
		
	}
	.block-item .title{
		font-size: 2rem;
		
	}
	
	
	.block-partners{
		position: absolute;
		bottom:0;
	}
	.block-twitter {
    	padding-left: 10px;
    	padding-right: 10px;

	}
	.block-twitter [data-background]{
		 background-position: left center;
		 width: 100%;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	.row {
	    margin-left: -7.5px;
	    margin-right: -7.5px;
	}
	
}


@media (min-height: 1920px) {
	
	.block-mainnav{
		display:none;
	}
	
	.portada{
		height: 200px;
	}
	
	.portada .logo-lonely {
	    bottom: 30px;
	}	
	.no-bg-totem{
		background: none!important;
	}
	.block-twitter {
	    padding: 0px;
	}	
	.block-twitter [data-background]{
		height: auto;
	}
	.block-twitter{
		.owl-controls{
			&:after,
			&:before{
				display: none;
			}
		}		
		
	}	
	
	section{
		

		&.hacer{
	   		margin-top: 10px;
		    margin-bottom: 10px;
				
			[class*="col-"]{
				width: 20%;
			}
			
		}	
	
	}
	.block-item {
	    margin-bottom: 15px;
		
	}
	.block-item .title{
		font-size: 2rem;
		
	}	
	
	
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	.row {
	    margin-left: -7.5px;
	    margin-right: -7.5px;
	}	
}