.icon-svg-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-svg-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-svg-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

